.fl{float:left}
.fr{float:right;}
.float-box:after{
  content: '';
  clear:both;
  height: 0;
  overflow: hidden;
  display:block;
}
.pos-absolute{position:absolute;}
.pos-relate{position:relative;}

.over-hidden{overflow: hidden}

.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs22{font-size:22px;}
.fs30{font-size:30px;}

/*----无数据---------------------*/
#nodataList{
  text-align: center;
  margin-top:25vh;
}
#nodataList img{
  width:150px;
  height:180px;
  }
#nodataList .nodataText{
  color:#bbb;
  font-size:15px;
  margin-top:15px;
}
.nodata{
  text-align: center;
  margin-top:30px;
}
.bg-grey{background:#f4f4f4;}
.bg-white{background:#fff;}
.bg-disable{background:#e0dede}
.bg-cure{background:#60a39c;}
.bg-selected{background:#daf4fa;}
.bg-button{background:#5fa39b;}
.bg-shallow-white{background:#fafafa;}

.color-warn{color:#d80200}
.color-disable{color:#676767}
.color-primary{color:#06b80a;}
.color-base{color:#5fa39b;}
.color-grey{color:#999;}
.color-white{color:white;}
.color-shallow{color:#666;}
.color-selected{color:#5ac4b2;}
.color-black{color:#232323;}
.color-profession{color:#b5b5b5;}

.font-bold{font-weight:bold;}

.device-height{min-height:100vh;}
.item-height{height:50px;}

.border-bot{border-bottom:1px solid #dedede;}
.border-top{border-top:1px solid #dedede;}
.border-bot-dash{border-bottom:1px dashed #9ec7c2;}
.border-top-dash{border-top:1px dashed #9ec7c2;}


/*圆角类名*/
.circular-bead{border-radius: 8px;}

/*半圆*/
.half-circle-left{width: 7px;height: 14px;  border-radius: 0 14px 14px 0;}
.half-circle-right{width: 7px;height: 14px;  border-radius: 14px 0 0 14px;}

/*阴影*/
.box-shade{box-shadow: 0 0 8px #d2e0e0;}

/*外层父元素*/
.parent-width{width:92%;}
.parent-margin{margin:15px 4%;}


/*纵轴圆*/
.circle-shaft{width:10px;height:10px;border-radius: 50%; display:inline-block; border:2px solid #fff; z-index: 500;}

/*头像logo*/
.head-logo{width:32%; height:32%; border-radius: 50%; display:inline-block}

.text-center{text-align:center;}

.marginB15{margin-bottom:15px;}
.marginL15{margin-left:15px;}
.marginR15{margin-right:15px;}
.marginT15{margin-top:15px;}
.marginT10{margin-top:10px;}


.paddingL10{padding-left:10px;}
.paddingT10{padding-top:10px;}
.paddingB10{padding-bottom:10px;}
.paddingR10{padding-right:10px;}
.paddingL15{padding-left:15px;}
.paddingR15{padding-right:15px;}
.paddingT15{padding-top:15px;}
.paddingB15{padding-bottom:15px;}

/*.mint-msgbox-message{*/
  /*text-align:left!important;*/
/*}*/
.button-box{
  position:fixed;
  bottom:25px;
  display: block;
  width: 90%;
  left:5%;
  height:45px;
  margin:15px auto;
  background:#529D98;
  color: #ffffff;
  border:1px solid #86B8B8;
  border-radius:22px;
  outline:none;
  font-size:18px;
}
.nobutton-box{
  position:fixed;
  bottom:25px;
  width: 90%;
  left:5%;
  height:45px;
  margin:15px auto;
  background:#86B8B8;
  color: #ffffff;
  border:1px solid #86B8B8;
  border-radius:22px;
  outline:none;
  font-size:18px;
}
